:root {
    --texto2: 0.875rem;
    --texto3: 0.8125rem;
    --texto4: 0.75rem;
    --cor1: #f1f1f1;
    --cor2: #a8a8a8;
    --cor3: #959595;
    --cor4: #6e6e6e;
    --cor5: #282828;
    --cor6: #202020;
    --cor7: #181818;
    --cor8: #121212;
    --cor9: #000000;
}

body {
    display: grid;
    grid-template-columns: 220px 1fr;
    margin: 0;
    background-color: var(--cor8);
    font-family: "Montserrat", sans-serif;
    cursor: default;
    overflow: hidden;
}

/* GLOBAIS */
* {
    margin: 0;
    padding: 0;
}

ul,
li {
    padding-left: 0;
    list-style: none;
}

h2 {
    margin: 1.25rem 0;
    font-size: var(--texto1);
    color: var(--cor1);
}

h3 {
    font-size: var(--texto2);
    font-weight: 500;
    color: var(--cor1);
}

.texto-12px {
    font-size: var(--texto4);
    font-weight: 500;
    color: var(--cor3);
}

.flex {
    display: flex;
    align-items: center;
}

.gap-20px {
    gap: 1.25rem;
}

.gap-10px {
    gap: 10px;
}

p,
.cover h3,
li {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.underline:hover {
    text-decoration: underline;
    cursor: pointer;
}

/* PLAYER */
#player {
    position: fixed;
    bottom: 0;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
    justify-content: center;
    height: 4.375rem;
    width: 100vw;
    padding: 10px 1rem;
    border-top: 1px solid var(--cor6);
    background-color: var(--cor7);
    overflow: hidden;
    white-space: nowrap;
    z-index: 3;
}

.player-musica {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    gap: 0px 1.5625rem;
}

.player-musica img {
    grid-area: 1 / 2 / span 2 / 2;
}

.controladores-player {
    justify-content: center;
    margin-bottom: 0.9375rem;
}

.barra-de-reproducao {
    width: 75%;
    height: 4px;
    margin: auto;
    border-radius: 1.25rem;
}

.progresso {
    position: absolute;
    width: 7.3vw;
    height: 4px;
    border-radius: 1.25rem;
    background-color: var(--cor2);
}

.progresso-bg {
    position: relative;
    width: 100%;
    height: 4px;
    border-radius: 1.25rem;
    background-color: var(--cor4);
}

.progresso-bg::before {
    content: "0:41";
    position: absolute;
    top: calc(50% - 8px);
    left: -1.875rem;
}

.progresso-bg::after {
    content: "6:57";
    position: absolute;
    top: calc(50% - 8px);
    right: -1.875rem;
}

.controladores-direita {
    justify-content: center;
    margin-right: 1.25rem;
}

.controladores-direita img {
    width: 1.25rem;
}

.barra-de-volume {
    width: 30%;
    height: 4px;
    border-radius: 1.25rem;
}

.volume {
    position: absolute;
    width: 3vw;
    height: 4px;
    border-radius: 1.25rem;
    background-color: var(--cor2);
}

.volume-bg {
    width: 100%;
    height: 4px;
    border-radius: 1.25rem;
    background-color: var(--cor4);
}

/* MENU */
#menu-lateral {
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 25px;
    font-size: var(--texto3);
    font-weight: 600;
    color: var(--cor2);
    background-color: var(--cor9);
}

.playlist-link {
    margin-bottom: 1.25rem;
    font-weight: normal;
}

.curtidas-icone-bg {
    width: 24px;
    height: 24px;
    border-radius: 2px;
    background: linear-gradient(135deg, #450af5, #c4efd9);
}
.curtidas-icone-bg img {
    width: 12px;
    margin: 6.3px;
}

.player-img {
    position: fixed;
    bottom: 91px;
    left: 0;
    width: 220px;
    border-radius: 0;
}

.minimizar {
    display: none;
    position: fixed;
    bottom: 272px;
    left: 183px;
    width: 1.25rem;
    opacity: 0.7;
    z-index: 3;
}

.player-img:hover + .minimizar {
    display: block;
}

hr {
    border-color: var(--cor6);
}

#menu-lateral p:hover,
.playlist-link:hover,
.lista-de-musicas p:hover {
    color: #fff;
    cursor: pointer;
}

/* HEADER */
#header {
    justify-content: space-between;
    height: 55px;
    padding: 5px 1.875rem;
    background-color: #634d42;
}

.header-botoes img {
    width: 32px;
    margin-right: 0.9375rem;
}

.header-botoes img:nth-child(3) {
    width: 48px;
}

.header-botoes img:nth-child(1),
.header-botoes img:nth-child(2) {
    cursor: not-allowed;
}

.header-botoes img:nth-child(3):hover,
.controladores-player img:nth-child(3):hover {
    transform: scale(1.06);
}

.perfil {
    justify-content: center;
    padding: 2px 10px 2px 2px;
    border-radius: 3rem;
    background-color: #1f1615;
}

.perfil img {
    width: 1.75rem;
    height: 1.75rem;
    border-radius: 50%;
}

.perfil h3 {
    color: var(--cor1);
    font-size: 0.8125rem;
    font-weight: bold;
}

.perfil img:last-child {
    width: 10px;
}

.perfil:hover {
    background-color: #2b1f1e;
}

/* PAGINA DO ARTISTA */
#pagina-artista {
    padding: 0rem 1.875rem;
}

.musicas-populares {
    color: var(--cor1);
    font-size: var(--texto2);
    font-family: Helvetica, Arial, sans-serif;
}

.lista-de-musicas img {
    width: 2.5rem;
    border-radius: 0;
}

.lista-de-musicas > div {
    justify-content: space-between;
    width: 95%;
    height: 2.5rem;
    margin: 0 auto;
    padding: 6px 1rem;
    border-radius: 3px;
    color: var(--cor2);
}

.lista-de-musicas h3 {
    width: 30%;
    text-align: right;
    font-weight: bold;
    color: var(--cor2);
}

.lista-de-musicas p {
    margin: 1.25rem;
}

.coracao-icon {
    width: 1rem !important;
    margin-right: 1rem;
}

/* DISCOGRAFIA */
#discografia,
.fas-curtem {
    justify-content: space-between;
}

#discografia p,
.musicas-populares p,
.fas-curtem p {
    font-family: "Montserrat", sans-serif;
    font-size: var(--texto4);
    font-weight: bolder;
    color: var(--cor2);
}

button {
    padding: 8px 13px;
    margin-right: 3px;
    margin-bottom: 1.25rem;
    font-size: var(--texto2);
    font-weight: bold;
    color: var(--cor1);
    border: none;
    border-radius: 3.125rem;
    background-color: var(--cor6);
}

button:first-child {
    font-weight: normal;
    color: var(--cor9);
    background-color: #fff;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(11.25rem, 1fr));
    grid-template-rows: 1fr;
    grid-auto-rows: 0;
    gap: 1.5625rem;
    overflow-y: hidden;
}

.cover {
    position: relative;
    padding: 0.9375rem 0.9375rem 1.875rem;
    border-radius: 5px;
    background-color: var(--cor7);
}

.cover img {
    width: 100%;
    margin-bottom: 10px;
    border-radius: 5px;
}

div.grid:last-child img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    border-radius: 50%;
}

div.grid:last-child {
    margin-bottom: 5.625rem;
}

.cover h3 {
    margin-bottom: 5px;
    font-size: var(--texto2);
    font-weight: bold;
}

.cover span {
    color: var(--cor2);
    font-weight: 500;
    font-size: var(--texto3);
}

.cover:after {
    content: " ";
    position: absolute;
    right: 1.4375rem;
    bottom: 5.9375rem;
    display: none;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    box-shadow: 0px 3px 5px 1px #30303063;
    background-image: url(./img/icones/circle-play-green.svg);
    background-size: cover;
}

.cover:hover:after {
    display: block;
}

@media (max-width: 859px) {
    .grid {
        grid-template-rows: 1fr 1fr;
    }
    .controladores-direita {
        gap: 8px !important;
    }
    .controladores-direita div {
        display: none;
    }
}

.cover:hover,
.lista-de-musicas div:hover,
button:nth-child(2):hover,
button:nth-child(3):hover {
    background-color: var(--cor5);
}

.cover:hover,
.player-img:hover {
    cursor: pointer;
}
